:root {
	--font-size--x-large: 18px;
	--font-size--large: 16px;
	--font-size: 14px;
	--font-size--middle: 12px;
	--font-size--small: 10px;
	--font-size--x-small: 10px;
	--font-family-primary: 'Roboto', sans-serif;
	--font-family-secondary: 'Roboto Condensed', sans-serif;

	--color-primary: rgb(33, 78, 112);
	--color-primary--dark: rgb(32, 62, 85);

	--color-secondary: rgb(231, 238, 246);
	--color-secondary--light: rgb(248, 250, 254);
	--color-black: rgb(41, 50, 61);

	--color-gray: #B9C4D2;
	--color-gray--dark: #758497;
	--color-gray--light: #E7EEF6;
}

@media (min-width: 768px) {
	:root {
		--font-size--x-large: 20px;
		--font-size--large: 18px;
		--font-size: 16px;
		--font-size--middle: 14px;
		--font-size--small: 12px;
		--font-size--x-small: 10px;
	}
}

body {
	color: var(--color-black);
	font: var(--font-size) var(--font-family-primary);
	line-height: 1.15;
	word-wrap: break-word;
}

h1,
.h1 {
	font-size: 22px;
	font-weight: 700;
	margin: 0 0 1em 0;
	position: relative;
}

h2,
.h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 .5em 0;
	padding: 0;
}

h3,
.h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 .5em 0;
	padding: 0;
}

h4,
.h4 {
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 .5em 0;
	padding: 0;
}

@media (min-width: 768px) {
	h1,
	.h1 {
		font-size: 28px;
	}

	h2,
	.h2 {
		font-size: 22px;
	}

	h3,
	.h3 {
		font-size: 18px;
	}

	h4,
	.h4 {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	h1,
	.h1 {
		font-size: 36px;
	}
	
	h2,
	.h2 {
		font-size: 28px;
	}

	h3,
	.h3 {
		font-size: 22px;
	}

	h4,
	.h4 {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 40px;
	}
	
	h2,
	.h2 {
		font-size: 26px;
	}
}

p {
	line-height: 1.5;
	margin: 20px 0;
}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

a {
}

.pseudo-link {
	cursor: pointer;
	text-decoration-style: dashed;
}

	a,
	.pseudo-link {
		color: var(--color-primary);
		text-decoration-color: var(--color-primary);
		transition: .3s;
	}

	a:hover,
	a:active,
	.pseudo-link:hover {
		color: var(--color-black);
		text-decoration-color: transparent;
	}

	a * {
		cursor: pointer;
	}

	a[href^="tel"] {
		color: inherit;
	}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

.image-caption {
	font-size: 12px;
	color: var(--color-gray--light);
	margin-top: 12px;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;
}

	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix:after {
		clear: both;
	}

.fs-i,
.em {
	font-style: italic;
}

.fw-b,
.strong {
	font-weight: bold;
}

.fw-n {
	font-weight: normal;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.fs-14 {
	font-size: 14px;
}

.fs-18 {
	font-size: 18px;
}

.--no-margin {
	margin: 0;
}

.--no-padding {
	padding: 0;
}

.ul-marker {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-marker li {
		padding: 0 0 0 16px;
		position: relative;
	}

		.ul-marker li + li {
			margin-top: 7px;
		}

	.ul-marker li:before {
		content: "•";
		font-size: 22px;
		left: 0;
		line-height: 0;
		margin: 14px 0 0 0;
		position: absolute;
		top: 0;
	}

.ul-marker {
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-marker li {
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ul-marker li:before {
		content: "—";
		left: 0;
		line-height: 0;
		position: absolute;
		top: 7px;
	}

.ol-numbers {
	counter-reset: item;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ol-numbers li
	{
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ol-numbers li:before {
		content: counters(item,".") ". ";
		counter-increment: item;
		left: 0;
		position: absolute;
		top: 0;
	}

.two-column {
	column-count: 2;
	column-gap: 30px;
}

.hr {
	border-top: 1px solid #E3E3E3;
	margin: 20px 0 40px 0;
}

.svg-icon {
	display: inline-block;
	fill-rule: evenodd;
	vertical-align: middle;
}

.site-button,
.site-button:visited {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--color-primary);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	margin: 0;
	padding: .5em 1.2em;
	text-align: center;
	text-decoration: none;
	transition: .3s;
	border-radius: 5px;
}

	.site-button:hover,
	.site-button:active {
		background-color: var(--color-primary);
		color: #fff;
	}

.full-screen-content {
	left: calc(var(--screen-width) / -2);
	margin-left: 50%;
	position: relative;
	width: var(--screen-width);
}