:root {
	--screen-width: calc(100vw - 17px)px;
}

body {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

	.page-wrapper *,
	.page-wrapper ::before ,
	.page-wrapper ::after {
		box-sizing: inherit;
	}

.page-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.page-content {
	flex-grow: 1;
	flex-shrink: 0;
}

	.page-content__before {
		padding: 1em 0;
	}

		.page-content__before--border-rope {
			border-bottom: 17px solid;
			border-image-source: url(images/kanat.png);
			border-image-slice: 0 0 17 0;
			border-image-repeat: round;
			padding: 3em 0;
		}

	.page-content__inner {
		padding-top: 3em;
		padding-bottom: 6em;
	}

.page-footer {
	background-color: var(--color-secondary);
	border-top: 17px solid;
	border-image-source: url(images/kanat.png);
	border-image-slice: 17 0 0 0;
	border-image-repeat: round;
}

	.page-footer__inner {
		padding-top: 2em;
		padding-bottom: 3em;
		font-size: var(--font-size--large);
		line-height: 1.4;
	}

		.page-footer__info {
			text-align: center;
		}

			.page-footer__logo {
			}

			.page-footer__contacts {
				margin-top: 36px;
			}

				.page-footer__social-media {
				}

				.page-footer__email {
					margin-top: 12px;
				}

			.page-footer__copy-c {
				margin-top: 22px;
			}

		.page-footer__menu {
			padding-left: 15px;
			margin: 0 -15px;
			display: none;
			flex: 0 0 75%;
			max-width: 75%;
		}

			.page-footer__menu-column {
				flex: 0 0 33.33333%;
				max-width: 33.33333%;
				padding: 0 15px;
			}

				.page-footer__menu-heading {
					font-size: var(--font-size--x-large);
					text-transform: uppercase;
					font-family: var(--font-family-secondary);
					font-weight: bold;
					margin-bottom: 28px;
				}

@media (min-width: 320px) {
}

@media (min-width: 768px) {
	.page-footer {
	}

		.page-footer__inner {
			padding-top: 3.5em;
			padding-bottom: 5.25em;
		}

			.page-footer__info {
				text-align: left;
				display: flex;
				justify-content: space-between;
			}

				.page-footer__copy-c {
					margin: 0;
					padding: 0 30px;
					flex: 1 1 auto;
					align-self: center;
				}

				.page-footer__contacts {
					margin: 0;
				}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.page-footer {
	}

		.page-footer__inner {
			display: flex;
		}

			.page-footer__info {
				padding-right: 15px;
				flex: 0 0 25%;
				max-width: 25%;
				flex-wrap: wrap;
				align-content: flex-start;
			}

				.page-footer__logo {
					flex: 0 0 100%;
					max-width: 100%;
				}

				.page-footer__copy-c {
					flex: 0 0 100%;
					max-width: 100%;
					padding: 0;
					order: 1;
					margin-top: 22px;
				}

				.page-footer__contacts {
					flex: 0 0 100%;
					max-width: 100%;
					margin-top: 36px;
				}

			.page-footer__menu {
				display: flex;
			}
}