.main-menu {
}

	.main-menu__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.main-menu__list--lvl1 {
			display: flex;
			justify-content: space-between;
		}

		.main-menu__list--lvl2 {
			position: absolute;
			left: 2px;
			right: 2px;
			top: 100%;
			background-color: var(--color-primary);
			z-index: 10;
			padding: 1.278em 0;
			border-radius: 0 0 .3em .3em;
		}

		.main-menu__item {
		}

			.main-menu__item--lvl1 {
				padding: 0 2px;
				position: relative;
			}

			.main-menu__item--lvl2 {
			}

			.main-menu__link {
				text-decoration: none;
				transition: .3s;
			}

				.main-menu__link--lvl1 {
					padding: 14px 20px;
					color: var(--color-black);
					border-radius: .3em;
				}

					.main-menu__link--lvl1:active,
					.main-menu__item--lvl1:hover .main-menu__link--lvl1 {
						background: var(--color-primary);
						color: #fff;
					}

				.main-menu__link--lvl2 {
					color: #fff;
					padding: .5em 1.278em;
					display: block;
				}

					.main-menu__link--lvl2:hover,
					.main-menu__link--lvl2:active {
						color: #fff;
						background-color: var(--color-primary--dark);
					}

				.main-menu__link--parent:after {
					display: inline-block;
					vertical-align: middle;
					content: '';
					border-top: 6px solid var(--color-primary);
					border-left: 3px solid transparent;
					border-right: 3px solid transparent;
					margin-left: 1em;
				}

					.main-menu__item--lvl1:hover .main-menu__link--parent:after {
						border-top-color: #fff;
					}