.page-slider {
	height: 260px;
	overflow: hidden;
	margin-top: -2px;
}

	.page-slider__item {
		height: 260px;
		overflow: hidden;
		position: relative;
	}
	
		.page-slider__image {
			display: block;
			left: 50%;
			margin-left: -384px;
			position: absolute;
			top: 0;
		}
		
			.page-slider__image img {
				max-width: none;
			}
		
		.page-slider__info {
			color: #fff;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			bottom: 0;
			z-index: 5;
			font-family: var(--font-family-secondary);
			display: flex;
			align-items: center;
		}
			
			.page-slider__info-inner {
			}
		
			.page-slider__name {
				font-size: 36px;
				font-weight: 700;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			
			.page-slider__desc {
				font-size: 18px;
			}
			
	.page-slider__dots {
		bottom: 30px;
		display: flex;
		justify-content: center;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
	}
	
		.page-slider__dots li {
			border: 1px solid transparent;
			border-radius: 50%;
			margin: 0 4px;
			padding: 1px;
			transition: .3s;
		}

			.page-slider__dots li:hover,
			.page-slider__dots li.slick-active {
				background-color: rgba(255, 255, 255, .3);
				border-color: #fff;
			}
		
			.page-slider__dots li button {
				background-color: rgba(255, 255, 255, 1);
				border: none;
				border-radius: 50%;
				cursor: pointer;
				display: block;
				font-size: 0;
				height: 11px;
				margin: 0;
				outline: none;
				padding: 0;
				transition: .3s;
				width: 11px;
			}
		
			.page-slider__dots li:hover button,
			.page-slider__dots li.slick-active button {
				background-color: rgba(255, 255, 255, .3);
			}

@media (min-width: 768px) {
	.page-slider {
		height: 340px;
	}
	
		.page-slider__item {
			height: 340px;
		}
	
			.page-slider__image {
				margin-left: -600px;
			}
			
				.page-slider__name {
					font-size: 50px;
				}
			
				.page-slider__desc {
					font-size: 22px;
				}
}

@media (min-width: 1200px) {
	.page-slider {
		height: 420px;
	}
	
		.page-slider__item {
			height: 420px;
		}
	
			.page-slider__image {
				margin-left: -960px;
			}
	
				.page-slider__name {
					font-size: 62px;
				}
				
				.page-slider__desc {
					font-size: 26px;
				}
}