.page-slider {
	height: 433px;
	overflow: hidden;
	margin-top: -2px;
}

	.page-slider__item {
		height: 433px;
		overflow: hidden;
		position: relative;
	}
	
		.page-slider__image {
			display: block;
			left: 50%;
			margin-left: -384px;
			position: absolute;
			top: 0;
		}
		
			.page-slider__image img {
				max-width: none;
			}
		
		.page-slider__info {
			color: #fff;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 38px;
			z-index: 5;
		}
			
			.page-slider__info-inner {
				padding: 24px 44px;
			}
		
				.page-slider__info-inner--background {
					background: #fff;
					color: #000;
				}
		
			.page-slider__name {
				font-size: 22px;
				font-weight: 700;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			
			.page-slider__desc {
			}
			
	.page-slider__dots {
		bottom: 30px;
		display: flex;
		justify-content: center;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
	}
	
		.page-slider__dots li {
			border: 1px solid transparent;
			border-radius: 50%;
			margin: 0 4px;
			padding: 1px;
			transition: var(--transition);
		}

			.page-slider__dots li:hover,
			.page-slider__dots li.slick-active {
				background-color: rgba(255, 255, 255, .3);
				border-color: #fff;
			}
		
			.page-slider__dots li button {
				background-color: rgba(255, 255, 255, 1);
				border: none;
				border-radius: 50%;
				cursor: pointer;
				display: block;
				font-size: 0;
				height: 11px;
				margin: 0;
				outline: none;
				padding: 0;
				transition: var(--transition);
				width: 11px;
			}
		
			.page-slider__dots li:hover button,
			.page-slider__dots li.slick-active button {
				background-color: rgba(255, 255, 255, .3);
			}

@media (min-width: 768px) {
	.page-slider__image {
		margin-left: -567px;
	}
	
	.page-slider__info {
		align-items: center;
		bottom: 0;
		display: flex;
		padding: 60px;
		text-align: left;
		top: 0;
	}
	
		.page-slider__name {
			font-size: 38px;
		}
	
		.page-slider__desc {
		}
}

@media (min-width: 992px) {
	.page-slider__info {
		width: 70%;
	}
}