.breadcrumbs {
}

	.breadcrumbs__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.breadcrumbs__item {
		}

			.breadcrumbs__item--current {
				color: var(--color-gray--dark);
			}

			.breadcrumbs__link {
				align-items: center;
				border: 1px solid var(--color-primary);
				display: inline-flex;
				font-size: var(--font-size--middle);
				height: 26px;
				padding: .25em 1.125em;
				position: relative;
				text-decoration: none;
			}

				.breadcrumbs__item--current .breadcrumbs__link {
					border-color: var(--color-gray--light);
				}

				.breadcrumbs__item:not(:first-child) .breadcrumbs__link:before {
					background-color: #fff;
					background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 10 26'><polygon points='10,0 0,0 0.6,1 7.1,13 0.6,25 0,26 10,26 10,25 1.7,25 8.2,13 5.9,8.7 1.7,1 10,1 ' fill='rgb(33, 78, 112)'/></svg>");
					background-position: 0 100%;
					background-size: 100% 100%;
					bottom: -1px;
					content: '';
					display: inline-block;
					left: -1px;
					position: absolute;
					top: -1px;
					width: 10px;
				}

					.breadcrumbs__item--current:not(:first-child) .breadcrumbs__link:before {
						background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 10 26'><polygon points='10,0 0,0 0.6,1 7.1,13 0.6,25 0,26 10,26 10,25 1.7,25 8.2,13 5.9,8.7 1.7,1 10,1 ' fill='rgb(231, 238, 246)'/></svg>");
					}

				.breadcrumbs__link:after {
					background-color: #fff;
					background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 8 26'><polygon points='5.7,8.7 1,0 0,0 0,1 0.4,1 6.9,13 0.4,25 0,25 0,26 1,26 8,13' fill='rgb(33, 78, 112)'/></svg>");
					background-position: 0 0;
					background-size: 100% 100%;
					bottom: -1px;
					content: '';
					display: inline-block;
					position: absolute;
					right: -1px;
					top: -1px;
					width: 8px;
				}

					.breadcrumbs__item--current .breadcrumbs__link:after {
						background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 8 26'><polygon points='5.7,8.7 1,0 0,0 0,1 0.4,1 6.9,13 0.4,25 0,25 0,26 1,26 8,13' fill='rgb(231, 238, 246)'/></svg>");
					}