.breadcrumbs {
}

	.breadcrumbs__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
	}

		.breadcrumbs__item {

		}

			.breadcrumbs__link {
				text-decoration: none;
				display: block;
				padding: .25em 1.125em;
				border: 1px solid var(--color-primary);
			}

				.breadcrumbs__link--current {
					border-color: var(--color-gray--light)
				}