.categories-tabs {
	margin: 0 auto 2.5em auto;
	max-width: 920px;
}

	.categories-tabs__list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.categories-tabs__item {
			margin: .16em;
		}

      .categories-tabs__link {
	      background: var(--color-gray--light);
	      border: 1px solid var(--color-gray--light);
	      border-radius: 0.3125em;
	      color: var(--color-black);
	      display: block;
	      padding: .56em 1.625em;
	      text-decoration: none;
	      transition: .3s;
			}

        .categories-tabs__link:hover,
        .categories-tabs__link:active,
				.categories-tabs__link--current {
					background-color: transparent;
					border-color: var(--color-gray);
					color: var(--color-gray);
				}