.tile-items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px -20px -10px;
}

	.tile-items__item {
		flex: 0 0 50%;
		margin-bottom: 20px;
		max-width: 50%;
		overflow: hidden;
		padding: 0 10px;
		position: relative;
	}

		.tile-items--last-seen .tile-items__item:nth-child(n+5) {
			display: none;
		}

		.tile-items__link {
			color: var(--color-black);
			display: block;
			font-size: var(--font-size--x-large);
			font-weight: 500;
			text-decoration-color: transparent;
		}


			.tile-items__link:hover {
				color: var(--color-primary);
			}

			.tile-items__image {
				border: 1px solid var(--color-gray);
				border-radius: .3em;
				display: block;
				margin-bottom: .75em;
				overflow: hidden;
			}

				.tile-items__image img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
					transition: .6s;
				}

					.tile-items__link:hover .tile-items__image img {
						transform: scale(1.05);
					}

			.tile-items__title {
			}

			.tile-items__description {
				background-color: var(--color-primary);
				border-radius: 0 0 .3em .3em;
				bottom: -100%;
				color: #fff;
				font-size: var(--font-size--middle);
				font-weight: normal;
				left: 10px;
				line-height: 1.4;
				opacity: 0;
				overflow: hidden;
				padding: 1em;
				position: absolute;
				right: 10px;
				text-align: center;
				transition: .3s;
			}

				.tile-items__link:hover .tile-items__description {
					bottom: 0;
					opacity: 1;
				}

@media (min-width: 768px) {
	.tile-items__item {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media (min-width: 1200px) {
	.tile-items--last-seen {
		flex-wrap: nowrap;
	}

		.tile-items--last-seen .tile-items__item {
			flex: 0 0 16.66667%;
			max-width: 16.66667%;
		}

		.tile-items--last-seen .tile-items__item:nth-child(n+5) {
			display: block;
		}

		.tile-items--last-seen .tile-items__item:nth-child(n+7) {
			display: none;
		}
}